﻿@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using ServerWebApp.Shared.Models;
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

@if (IsConnected)
{
    <p>Connected</p>
}
else
{
    <p>Disconnected</p>
}

<hr>

<ul id="messagesList">
    @foreach (var manager in managers)
    {
        <li>@manager.Name - @(manager.Connected ? "✔" : "❌")</li>
    }
</ul>

@code {
    private HubConnection hubConnection;
    private List<Manager> managers = new List<Manager>();

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/serverHub"))
            .Build();

        hubConnection.On<List<Manager>>("ManagerList", (clients) =>
        {
            managers = clients;
            StateHasChanged();
        });

        await hubConnection.StartAsync();

        await hubConnection.SendAsync("RegisterToMasterGroup");
    }

    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }
}